<div class="lg:w-full my-4 lg:my-0 hidden lg:block">
  <form class="mx-auto ">
    <label for="default-search" class=" text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 2.5C15.97 2.5 20 6.53 20 11.5C20 16.47 15.97 20.5 11 20.5C6.03 20.5 2 16.47 2 11.5C2 8 4 4.96 6.93 3.47" stroke="#656565" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.07 21.47C19.6 23.07 20.81 23.23 21.74 21.83C22.6 20.55 22.04 19.5 20.5 19.5C19.35 19.5 18.71 20.39 19.07 21.47Z" stroke="#656565" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <input type="search" id="default-search" class="block w-full p-2 ps-10 text-sm  text-gray-90 bg-gray-100 rounded-full " placeholder="Search" required />
    </div>
  </form>
</div>
