/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

html{
    @include mat.thme{
        color: mat.get-color-from-palette(mat.$mat-indigo);
        typograpy: Roboto
    }
}






html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
