
  <script src="reading.component.ts"></script>
  <div class=" flex bg-blue-50 p-4 lg:w-full rounded-2xl ">
    <div class="">
      <img src="assets/course%201.png" alt="" class="">
    </div>
    <div class="mx-4 ">
      <h5 class="p-1 rounded-2xl text-xs font-extralight bg-blue-600 text-white my-2 w-32 text-center">{{ category }}</h5>

      <h1 class="font-normal text-xs text-gray-800"> {{ courseName }}</h1>
      <div class="flex justify-between mt-5 w-48">
        <h1 class="font-normal  text-xs text-gray-800"> {{ tutor }}</h1>
        <h1 class="font-normal text-xs text-gray-800"> {{ duration }}</h1>

      </div>

    </div>
  </div>

