<div class=" mx-auto w-11/12  bg-blue-50  rounded-3xl lg:px-8 lg:flex lg:w-11/12 justify-between">
  <div class="p-3 lg:p-8 ">
    <h1 class="text-blue-600 font-bold text-lg">Go Premium</h1>
    <p class="font-light text-zinc-900 mt-3 text-sm tracking-wide ">Explore 100+ expert curated courses prepared for you.</p>
    <button class="bg-white p-2 mt-6 text-blue-600 w-6/12 rounded-full bottom-6 hover:bg-blue-600 hover:text-blue-50 text-sm ease-out duration-700 transition-delay-100 lg:p-3 lg:w-4/12 ">Get Access</button>
  </div>
  <div class="hidden lg:block">
    <img src="assets/avater.png" alt="">
  </div>
</div>
