<div class=" w-10/12 mx-auto  mt-6 mb-8  lg:w-11/12  lg:flex lg:justify-between items-center ">
  <div>
    <h2 class=" lg:font-semibold lg:text-2xl text-blue-600">Hi <span class="text-zinc-900">{{name}}</span>, Good Afternoon !</h2>
    <p class="text-xs lg:text-sm">Lets learn something new today</p>
  </div>
  <app-searchComponent></app-searchComponent>
</div>
<app-premium-component></app-premium-component>

<div class=" px-8  my-8">
  <h5 class="font-normal text-blue-600 text-sm ">Overview</h5>
<app-course></app-course>
</div>
<div class=" px-8  my-8">
  <div class="flex justify-between">
    <h5 class="font-normal text-blue-600 text-sm mb-4 ">Continue reading</h5>
    <a href="" class="font-normal text-blue-600 text-sm underline">view all</a>
  </div>

<div class="grid grid-cols-2 gap-4">
  <app-reading></app-reading>
  <app-reading></app-reading>
  <app-reading></app-reading>
  <app-reading></app-reading>


</div>
</div>

<!---->
