/* You can add global styles to this file, and also import other style files */
:root{
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Dark-Grey: hsl(0, 0%, 52%);
    --Light-Mode-Text: hsl(200, 15%, 8%);
    --Light-mode-input: hsl(0, 0%, 52%);
    --White-Dark-Light-Text: hsl(0, 0%, 100%)
}

*{
    padding: 0px;
    margin: 0px;
    font-family: "Nunito Sans", sans-serif;
    
 
}